.displayQuestions, .results
{
    width: 600px;
    margin: auto;
}

body
{
    font-size: 18px;
    line-height: 24px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #fcfcfc;
}

h1
{
    text-align: center;
}

.timer
{
    float: right;
}